<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
  	<script type="text/javascript"  src="/scripts/restaurant.js"></script>
  </head>

<body>
	<div class="container">
    <div class="row">
      <div class="col-sm-12">
         <h1 class="title"></h1>
         <a href="/">Home</a>
         <br>
         <p id="alert"> </p> 
      </div>
    </div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th></th>
            <th>Restaurant</th>
            <th>Cuisine Type</th>
            <th>Address</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <h2 id="reviewTitle"> </h2> 

    <p id="reviewParagraph"> </p>

    <form class="form-horizontal" data-toggle="validator" role="form">          

            <div class="form-group">
              <div class="col-sm-10">
                <p id="restaurantAlert"> </p>  
                <input type="text"  class="form-control" id="reviewAuthor" placeholder="Enter your name for review" autofocus required />
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-10"> 
                <textarea class="form-control" rows="5" id="review" placeholder="Enter restaurant review" required /></textarea>
              </div>
            </div>

            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="createReviewButton" class="btn btn-default" >Submit Restaurant</button>
              </div>
            </div>
    </form>
	</div>
</body>

</html>